<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask-SocketIO Chat</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <style>
      .image-container {
        width: 200px; /* Set the width of the container */
        height: 200px; /* Set the height of the container */
        overflow: hidden; /* Hide overflowing parts of the image */
      }

      .image-container img {
        width: 100%; /* Make the image fill the container */
        height: 100%; /* Make the image fill the container */
        object-fit: cover; /* Crop the image to cover the container */
      }
    </style>
</head>
<body>
    <div class="image-container">
        <img src="https://static9.depositphotos.com/1325771/1217/i/450/depositphotos_12172425-Fema    le-customer-support-operator.jpg">
    </div>
    <h1>trainrunner</h1>
    <p>you can run all of your trains on us</p>
    <div id="message-container"></div>
    <input type="text" id="message-input">
    <button id="send-btn">Send</button>

	<br>
	<br>
	<br>

    <select id="query-dropdown">
        <option value="1">Test query 1</option>
        <option value="2">Test query 2</option>
        <option value="3">Test query 3</option>
    </select>
    <button id="populate-btn">Populate Message</button>

    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        var messageContainer = document.getElementById('message-container');
        var messageInput = document.getElementById('message-input');
        var sendButton = document.getElementById('send-btn');
        var populateButton = document.getElementById('populate-btn');
        var queryDropdown = document.getElementById('query-dropdown');

        socket.on('message', function(data) {
            var messageDiv = document.createElement('div');
            messageDiv.textContent = data;
            messageContainer.appendChild(messageDiv);
        });

        sendButton.addEventListener('click', function() {
            var message = messageInput.value;
            socket.emit('message', message);
            messageInput.value = '';
        });

        populateButton.addEventListener('click', function() {
            var selectedOption = queryDropdown.options[queryDropdown.selectedIndex].value;
            switch(selectedOption) {
                case '1':
                    messageInput.value = "I want to take a return train to Manchester Airport from Diss at 10:15 PM on Sunday with one adult and 1 child";
                    break;
                case '2':
                    messageInput.value = "I want to get a train at Manchester Airport and arrive at Diss at 10:00 on Sunday";
                    break;
                case '3':
                    messageInput.value = "They'll break my legs if I don't leave Norwich tonight, get me to Diss";
                    break;
                default:
                    messageInput.value = "";
                    break;
            }
        });
    </script>
</body>
</html>

